<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Resume Screening</title>
  
  <!-- Link to Bootstrap CSS from CDN -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <header>
    <nav>
      <a href="#">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" />
        <span>EVOLVE</span>
      </a>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="https://www.evolveroboticsindia.com/">About</a></li>
        <li><a href="https://www.evolveroboticsindia.com/kids/">Kids</a></li>
        <li><a href="https://www.evolveroboticsindia.com/professional/">Professional</a></li>
      </ul>
      <a href="#">Login</a>
    </nav>
  </header>

  <section>
    <h1>Upload Your Resume Here</h1>
    <p>Upload your resume here, and it will determine its classification.</p>
    <form method="POST" enctype="multipart/form-data" class="upload-form">
      <input type="file" id="resume" name="resume" accept=".txt, .pdf" required>
      <button type="submit">Upload</button>
    </form>
  </section>
  
  <!-- Optional: Include jQuery and Bootstrap JS (optional if you need JS functionality) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
</body>

</html>
